body {
    margin: 5px;
}

.container {
    display: flex;
    height: 350px;
    border-bottom: 2px dotted rgb(24, 26, 27);
}

h3 {
    text-align: center;
    text-transform: capitalize;
    color: rgb(138, 159, 159);
    font-size: xx-large;
}
.container__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-right: 2px dotted black;
}

button {
    width: 100px;
    height: 35px;
}

input {
    height: 35px;
    width: 180px;
    margin-bottom: 5px;
}

.container__show {
    padding-left: 25px;
    padding-top: 25px;
}
.footer div {
    padding-bottom: 10px;
}

.footer {
    padding-top: 25px;
    margin-left: 35px;
}

span {
    color: rgb(10, 147, 102);
    font-size:large;
}